*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inter';
  background-color: #FAFAF8;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: white;
  height: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}
header>img{
  width: 100px;

}
header>h1{
  font-weight: 350;
}
main{
  padding: 10px 30px;
}
.addingredientform{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.addingredientform>input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}
.addingredientform  > button {
    font-family: 'Inter', sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: white;
    width: 70;
    height: 60;
    padding: 15px;
}
.addingredientform > button::before {
    content: "+";
    margin-right: 5px;
}